---
import { format, parseISO } from 'date-fns';

import { getSlugFromPath } from '#utils/get-slug-form-path';

export interface Props {
  post: any;
}

const {
  post: {
    file,
    frontmatter: { title, description, updatedDate },
  },
} = Astro.props;

const url = `/blog/${getSlugFromPath(file)}`;

const formattedUpdated = updatedDate
  ? format(parseISO(updatedDate), 'LLLL d, yyyy')
  : null;
---

<a href={url} class="no-underline select-none group">
  <div class="flex flex-col sm:flex-row sm:justify-between sm:items-center">
    <h3 class="m-0 group-hover:underline">
      {title}
    </h3>
    <small class="text-slate-500"><time>{formattedUpdated}</time></small>
  </div>

  <p class="mb-0 font-normal">{description}</p>
</a>
