---
import { format, parseISO } from 'date-fns';

import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { GITHUB } from '../config';

export interface Props {
  content: {
    title: string;
    description: string;
    readingTime: string;
    publishedDate?: string;
    updatedDate?: string;
    heroImage?: string;
  };
  file: string;
  headings: { depth: number; slug: string; text: string }[];
}

const {
  content: { title, description, updatedDate, heroImage },
  file,
  headings,
} = Astro.props;

const formattedUpdated = updatedDate
  ? format(parseISO(updatedDate), 'LLLL d, yyyy')
  : null;

const filePath = file.replace(/.*\/src/, 'src');
const editUrl = `${GITHUB}/philstainer/philstainer.io/edit/main/${filePath}`;

const origin = Astro.url.origin;
---

<BaseHead title={title} description={description} />

<Header />
<main class="flex-1 p-4 pb-20 mx-auto w-full max-w-4xl md:p-6 md:pb-28">
  <article class="p-2 m-0 max-w-full prose dark:prose-dark">
    {
      heroImage && (
        <img
          class="object-contain object-center"
          width="1040"
          height="520"
          src={heroImage}
          alt="astro"
        />
      )
    }

    <h1 class="mb-2">{title}</h1>

    <small>
      <time>{formattedUpdated}</time>
    </small>

    <slot />

    <div class="gap-1 mt-10">
      <a href={editUrl} target="_blank" rel="noopener noreferrer">
        Edit on GitHub
      </a>
    </div>
  </article>

  <script
    is:inline
    src="https://giscus.app/client.js"
    data-repo="philstainer/my-astro-blog"
    data-repo-id="R_kgDOH8fbcA"
    data-category="Announcements"
    data-category-id="DIC_kwDOH8fbcM4CRX2P"
    data-mapping="og:title"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="light"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async
  ></script>
</main>
<Footer />
